// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/font-montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: IBM;
  src: url("./assets/fonts/IBM/IBMPlexSans-Bold.ttf");
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Montserrat;
  font-size: 1.6rem;
  color: #000000;
}

.containers {
  width: 1400px;
  margin: 0 auto;
  // overflow: hidden;
}
